* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: 14px;
  background-size: 200% 100%;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
  height: 100vh;
}
